/* Add this styling to your existing CSS file or create a new one */

/* Orders.js specific styles */

.orders-container {
  text-align: center;
  /* margin-top: 20px; */
}

.orders-header {
  color: #00453e;
  font-size: 24px;
  margin-bottom: 20px;
}

.ordered-item-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
  max-width: 800px;
}

/* Add any additional styles as needed */
